<div class="contenedor-principal-registro">
  <div class="contenedor-text">
    <ion-icon class="icon-atras-registro" name="arrow-back-outline" (click)="irAlLogin()"></ion-icon>
    <h1 class="titulo-del-registro">Registrate</h1>
    <p class="parrafo-del-registro">¿Ya tienes una cuenta?<span (click)="irAlLogin()">Ingresa</span></p>
  </div>
  <div class="contenedor-secundario">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="contenedor-imput-registro">
        <div class="contenido-input-text">
          <div>
            <ion-label>Nombre</ion-label>
            <ion-input fill="outline" placeholder="Ingresar" formControlName="nombre"></ion-input>
            <div *ngIf="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid" class="error">
              <small *ngIf="registroForm.get('nombre')?.errors?.['required']">El nombre es obligatorio</small>
            </div>
          </div>
          <div>
            <ion-label>Usuario</ion-label>
            <ion-input fill="outline" placeholder="Ingresar" formControlName="apellido"></ion-input>
            <div *ngIf="registroForm.get('apellido')?.touched && registroForm.get('apellido')?.invalid" class="error">
              <small *ngIf="registroForm.get('apellido')?.errors?.['required']">El usuario es obligatorio</small>
            </div>
          </div>
        </div>
        <div class="contenido-input-correo">
          <ion-label>Correo electrónico</ion-label>
          <ion-input type="email" fill="outline" formControlName="email" placeholder="Ingresar"></ion-input>
          <div *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.invalid" class="error">
            <small *ngIf="registroForm.get('email')?.errors?.['required']">El correo es obligatorio</small>
            <small *ngIf="registroForm.get('email')?.errors?.['email']">Formato de correo no válido</small>
          </div>
        </div>
        <div>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" formControlName="password" fill="outline" placeholder="Ingresar">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <div *ngIf="registroForm.get('password')?.touched && registroForm.get('password')?.invalid" class="error">
            <small *ngIf="registroForm.get('password')?.errors?.['required']">
              La contraseña es obligatoria
            </small>
            <small *ngIf="registroForm.get('password')?.errors?.['minlength']">
              La contraseña debe tener mínimo 6 caracteres
            </small>
          </div>

        </div>
      </div>
      <ion-button class="button-registro" expand="block" type="submit" [disabled]="!registroForm.valid || isLoading">
        <ng-container *ngIf="!isLoading; else loadingTpl">
          Registrar
        </ng-container>
        <ng-template #loadingTpl>
          <ion-spinner name="crescent" color="light"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>
  </div>
  <ion-label class="terminos-registro">Al registrarse, acepta los <span>Términos de servicio</span> y el <span>Acuerdo
      de procesamiento de datos.</span></ion-label>
  <app-snack-bar *ngIf="mostrarSnackBar" [icon]="iconSnack" [title]="tituloSnack" [message]="mensajeSnack"
    [type]="tipoSnack">
  </app-snack-bar>
</div>