<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>album-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail-content">
    <div class="detail-img">
      <img src="../../../assets/img/35.jpg">
    </div>
    <div class="datail-text">
      <ion-label class="titulo-label">Escape of the Phoenix</ion-label>
      <ion-label class="artista-label">Evergrey</ion-label>
      <ion-label class="detalle-lavel">METAL ·2021</ion-label>
    </div>
  </div>
  <div class="button-detail">
    <ion-button class="button-app-principal custom-button">
      <ion-icon slot="start" name="play"></ion-icon>
      Play
    </ion-button>
    <ion-button class="button-app-principal custom-button">
      <ion-icon slot="start" name="shuffle"></ion-icon>
      Shuffle
    </ion-button>
  </div>
</ion-content>