.detail-content {
    width: 100%;
    padding: 10px 36px 0px;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 6px;
}

.datail-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 4px;
}



body.dark {
    .titulo-label {
        font-size: 16px;
        font-weight: 500;
        color: var(--ion-color-white);
    }

}

body{
    .titulo-label {
        font-size: 16px;
        font-weight: 500;
        color: var(--ion-color-text-light);
    }
}

.artista-label {
    font-size: 14px;
    font-weight: 500;
    color: var(--ion-color-primary);
}

.detalle-lavel {
    font-size: 11px;
    font-weight: 500;
    color: var(--ion-color-text-subtitle);
    text-transform: uppercase;
}

.button-detail {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0px 20px;
}

.custom-button {    
    width: 100%;
}

.track-list {
  color: #fff;
}

.track-number {
  margin-right: 8px;
  color: #aaa;
  font-weight: 500;
}

ion-icon {
  color: var(--ion-color-primary);
  font-size: 20px;
}

.custom-item {
  position: relative;
  padding-bottom: 3px;
}

.custom-item::after {
  content: '';
  position: absolute;
  left: 38px;
  right:0; 
  bottom: 0;
  height: 1px;
  background-color: #555;
}