.div-principal-artista {
    position: relative;

}

.img-artista {}

.contenido-opacidad {
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0px
}

.opacidad-img-artista {}

.titulo-artista {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-white);

}

.seguidores-artista {
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    color: var(--ion-color-white);
}

.contenido-texto-artista {
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 14px 20px;
    width: 100%;
    gap: 4px;
}

.div-principal-artista {
    min-width: 150px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.img-artista {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}