
<div>
  <swiper-container slides-per-view="1.8" centered-slides="false" space-between="10" grab-cursor="true" loop="false">
    <swiper-slide *ngFor="let item of listaSlidesArtista; let i = index">
      <div class="div-principal-artista">
        <img class="img-artista" src="../../../assets/img/37.jpg">
        <div class="contenido-opacidad">
        <img class="opacidad-img-artista" src="./../../../assets/img/bg_artista.png">
        </div>
        <div class="contenido-texto-artista">
          <ion-label class="titulo-artista">shakira</ion-label>
          <ion-label class="seguidores-artista">1800 sequidores</ion-label>
        </div>

      </div>
    </swiper-slide>

  </swiper-container>
</div>