ion-toolbar{
    padding-left: 10px;
    padding-right: 10px;
}

ion-avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
}

ion-searchbar.custom {
    --background: var(--ion-color-white);
    --color: #635b5b;
    --placeholder-color: #635b5b;
    --icon-color: #121212ff;
    --clear-button-color: #121212;
    --border-radius: 6px;
}

ion-searchbar.ios.custom {
    --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
    --cancel-button-color: #121212;
}