<div class="contenedor-principal-login">
  <div class="contenedor-text">
    <div class="class-icono">
      <img class="img-logo-login" src="../../../assets/img/logo.png">
      <ion-label class="titulo-del-logo-login">Vibra</ion-label>
    </div>
    <h1 class="titulo-del-login">Empieza ahora</h1>
    <p class="sudtitulo-del-login">Crea una cuenta o inicia sesión para explorar la aplicación</p>
    <p class="parrafo-del-login">¿No tienes una cuenta?</p>
  </div>
  <div class="contenedor-secundario">
    <div class="imput-login">
      <div>
        <ion-label>Correo electrónico</ion-label>
        <ion-input type="email" fill="outline" labelPlacement="floating" helperText="Enter a valid email"
          errorText="Invalid email" ngModel email></ion-input>
      </div>
      <div>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" value="NeverGonnaGiveYouUp" label-placement="floating" fill="outline"
          placeholder="Enter text">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </div>
    </div>
    <ion-button>holaaa</ion-button>
  </div>
</div>