<ion-header>
  <ion-toolbar class="fondo-negro">
    <ion-title>Diego de la Torre</ion-title>
    <ion-button fill="clear" id="popover-button" slot="end" ><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item (click)="sendIntro()" [button]="true" [detail]="false">Ir a la Intro</ion-item>
            <ion-item (click)="toggleDarkMode()" [button]="true" [detail]="false">{{tipoModo}}</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <app-mi-slider></app-mi-slider>
    <ion-button (click)="sendDetail()"></ion-button>
  </div>
</ion-content>