<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-desplegable-toolbar">
      <ion-buttons slot="start">
        <img class="logo-menu-desplegable" src="../../../assets/img/logo_vibra.png" alt="Logo" />
      </ion-buttons>
      <ion-title class="titulo-menu-desplegable">Vibra</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contennido-menu-desplegable">
    <ion-list>
      <ion-item lines="none" (click)="sendIntro()">
        <ion-icon name="albums-outline" class="icono-item"></ion-icon>
        <ion-label>Ver Introducción</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="toggleDarkMode()">
        <ion-icon name="invert-mode-outline" class="icono-item"></ion-icon>
        <ion-label>{{tipoModo}}</ion-label>
      </ion-item>
      <ion-item lines="none" id="present-alert">
        <ion-icon name="exit-outline" class="icono-item"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
    <ion-label class="footer-menu-desplegable">Siente cada nota, vive cada Vibra.</ion-label>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="fondo-negro">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="contenedor-principal">
      <label class="subtitulo-inicio">Albunes</label>
      <app-mi-slider (datosAlPadreSlider)="sendDetail($event)" [listaSlides]="objetoAlbum"></app-mi-slider>
      <label class="subtitulo-inicio subtitulo-artista">Artistas</label>
      <app-slider-artista (datosAlPadre)="detalleArtista($event)"
        [listaSlidesArtista]="objetoArtista"></app-slider-artista>
      <ion-button id="open-modal" expand="block" style="display: none">Open</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Welcome</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="contenido-detalle-modal">
            <div class="detail-content">
              <div class="detail-img">
                <img [src]="verArtista.image">
              </div>
              <div class="datail-text">
                <ion-label class="titulo-label">{{verArtista.name}}</ion-label>
                <ion-label class="artista-label">Popularidad: {{verArtista.popularity}}</ion-label>
                <ion-label class="detalle-lavel">Seguidores: {{verArtista.followers}}</ion-label>
              </div>
            </div>
            <div class="button-detail">
              <ion-button class="button-app-principal custom-button">
                <ion-icon slot="start" name="play"></ion-icon>
                Play
              </ion-button>
              <ion-button class="button-app-principal custom-button">
                <ion-icon slot="start" name="shuffle"></ion-icon>
                Shuffle
              </ion-button>
            </div>
            <ion-list class="track-list">
              <ion-item class="custom-item" lines="none" *ngFor="let item of objetoDisco; let i = index">
                <ion-label (click)="reproducirDisco(item)">
                  <span class="track-number">{{i+1}}</span> {{item.name}}
                </ion-label>
                <ion-icon name="heart-outline" slot="end"></ion-icon>
              </ion-item>
            </ion-list>

          </ion-content>
        </ng-template>
      </ion-modal>

    </div>
    <ion-alert trigger="present-alert" [buttons]="alertButtons" [message]="'¿Cerrar la sesión de tu cuenta?'"
      (didDismiss)="setResult($event)"></ion-alert>
  </ion-content>
  <div class="footer-reproductor" *ngIf="reproductorActive.name!=''">
    <app-reproductor-footer [cancion]="reproductorActive?.name" [artista]="verArtista?.name"
      [imagen]="verArtista?.image"
      [audioUrl]="'https://p.scdn.co/mp3-preview/139aec4c3e350d889e4f1108eb14654c3d70c376?cid=acf7d036236b416cb26f69ec691da301'">
    </app-reproductor-footer>
  </div>
</div>