<div>
  <swiper-container slides-per-view="1.20" centered-slides="false" space-between="10" grab-cursor="true" loop="false">
    <swiper-slide *ngFor="let item of listaSlides; let i = index" >
      <div class="div-principal">
        <ion-label class="titulo-slider">{{item.titulo}}</ion-label>
        <div class="div-contenedor" [style.background]="getColor(i)">
          <div class="div-imagen">
            <img [src]="item.imagen" />
          </div>
          <div class="div-contenedor-lebel">
            <ion-label>{{item.descripcion.album}}</ion-label>
            <ion-label>{{item.descripcion.artista}}</ion-label>
            <ion-label>{{item.descripcion.year}}</ion-label>
          </div>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</div>