<div>
  <swiper-container slides-per-view="1.20" centered-slides="false" space-between="10" grab-cursor="true" loop="false">
    <swiper-slide>
      <div class="div-principal">
        <ion-label>More from Evergrey</ion-label>
        <div class="div-contenedor">
          <div class="div-imagen">
            <img src="../../../assets/img/35.jpg" alt="" />
          </div>
          <div class="div-contenedor-lebel">
            <ion-label>Escape of the phoenix</ion-label>
            <ion-label>Evergrey</ion-label>
            <ion-label>2021</ion-label>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="div-principal">
        <ion-label>Bruno Mars</ion-label>
        <div class="div-contenedor36">
          <div class="div-imagen">
            <img src="../../../assets/img/36.jpg" alt="" />
          </div>
          <div class="div-contenedor-lebel">
            <ion-label>Unorthodox Vykebox</ion-label>
            <ion-label>Bruno Mars</ion-label>
            <ion-label>2020</ion-label>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="div-principal">
        <ion-label>Bad Bunny</ion-label>
        <div class="div-contenedor37">
          <div class="div-imagen">
            <img src="../../../assets/img/37.jpg" alt="" />
          </div>
          <div class="div-contenedor-lebel">
            <ion-label>Baby Nueva</ion-label>
            <ion-label>Bad Bunny</ion-label>
            <ion-label>2023</ion-label>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>