/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


body.dark {
  --ion-background-color: var(--ion-color-darkblack);
  --ion-text-color: var(--ion-color-white);
  --ion-item-border-color: var(--ion-color-white);

  .input-wrapper {
    color: var(--ion-color-white)
  }

  .titulo-slider{
    color: var(--ion-color-white) !important;
  }

  .icono-item{
    color: var(--ion-color-white);
  }

  .contennido-menu-desplegable{
    --background: rgb(22, 22, 22);
    ion-item{
      --background: rgb(22, 22, 22);
    }
  }

  .menu-desplegable-toolbar{
    --background: rgb(22, 22, 22);
  }

  .fondo-negro {
    --background: var(--ion-color-darkblack);
    --color: var(--ion-color-white);
  }

  .tabs-negros {
    --background: var(--ion-color-tolbar-bg);
    --color: var(--ion-color-tolbar-texto);
    --color-selected: var(--ion-color-primary);
  }

  .titulo-slider{
    color: var(--ion-color-white) !important;
  }

  ion-button.button-app-principal {
    --background: var(--ion-color-button-principal-bg-dark);
    --color: var(--ion-color-primary);
    --border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

body {
  --ion-background-color: var(--ion-color-background-light);
  --ion-text-color: var(--ion-color-text-light);

  .fondo-negro {
    --background: var(--ion-color-white);
    --color: var(--ion-color-text-light);
  }

  ion-header{
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
  }

  .tabs-negros {
    --background: var(--ion-color-white);
    --color: var(--ion-color-text-tolbar-light);
    /* íconos/texto normales */
    --color-selected: var(--ion-color-primary);
    /* ícono/texto activo */
  }

  .titulo-slider {
    color: var(--ion-color-text-light) !important;
  }

  ion-button.button-app-principal {
    --background: rgb(77, 197, 145, 0.3);
    --color: var(--ion-color-primary);
    --border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    --box-shadow: none !important;
  }
}

ion-tab-bar{
  ion-tab-button {
    position: relative;
    ion-icon {
      z-index: 2;
      font-size: 20px;
    }
    &.tab-selected::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      background-color: rgb(77, 197, 145, 0.3);
      border-radius: 50%;
      z-index: 1;
    }
  }
}

ion-button{
  --box-shadow:none !important;
}

.error {
  color: var(--ion-color-danger);
  margin-left: 16px;
  font-size: 0.8rem;
  position: absolute;
}